nav{
     text-align:center; 
   }
   
   ul{
	    style="list-style-type:circle;
   }
   .mani{
	       display:flex;
		   
        }
	img{
		  width:200px;
		  height:200px;
	}
	#ab{
		text-align:center;
	}
	
	#dc{
		text-align:center;
	   }
	   .ss{
		     display:flex;
	      }
.ss{
	  display:flex;
}
.mm{
	 display:flex
	
}
#img
img{
		  width:50px;
		  height:50px;
	}
	h1,h2{
		 text-align:center;
	   }
	   .ww
	   img{
		     width:100px;
			 height:190px;
	   }
	   .55
	   img{
		    width:33%;
			height:33%;
	   }
	   div article{
		             
		             margin:0;
					 padding:20px;
					 width:100px;
					 height:100px;
	   }
	   
	   .arun{
	   width:200px;
	   height:500px;
	   padding:20px;
	   border:0;
	  
	   color:black;
	   box-sizing:content-box;
	   text-align:center;
	   
     }
	 .ww{
		    display:flex;
	 }
	 .tt
	 img{
		   width:50px;
		   height:50px;
	 }
	 .vv{
		  display:flex;
	 }
	 .12{
		   overflow:hidden;
		   background-color:white;
		   border:1px teal outset;
		   box-shadow:5px 5px 5px 5px skyblue;
	 }
	 .66{
		  background-color:skyblue;
	 }
		   


	  